<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contact Us Page</title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h1>Contact Us!</h1>
    <p>Contact the coolest ninja on the web right here...</p>
  </body>
</html>
